<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DoctorMapper">
    
    <resultMap type="Doctor" id="DoctorResult">
        <result property="doctorId"    column="doctor_id"    />
        <result property="doctorName"    column="doctor_name"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="password"    column="password"    />
        <result property="avatarUrl"    column="avatar_url"    />
        <result property="role"    column="role"    />
    </resultMap>

    <sql id="selectDoctorVo">
        select doctor_id, doctor_name, phone_number, password, avatar_url, role from doctor
    </sql>

    <select id="selectDoctorList" parameterType="Doctor" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        <where>  
            <if test="doctorName != null  and doctorName != ''"> and doctor_name like concat('%', #{doctorName}, '%')</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="avatarUrl != null  and avatarUrl != ''"> and avatar_url = #{avatarUrl}</if>
            <if test="role != null "> and role = #{role}</if>
        </where>
    </select>
    
    <select id="selectDoctorByDoctorId" parameterType="Long" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        where doctor_id = #{doctorId}
    </select>

    <select id="selectDoctorByDoctorName" parameterType="String" resultMap="DoctorResult">
        <include refid="selectDoctorVo"/>
        where doctor_name = #{doctorName}
    </select>
        
    <insert id="insertDoctor" parameterType="Doctor" useGeneratedKeys="true" keyProperty="doctorId">
        insert into doctor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doctorName != null">doctor_name,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="password != null">password,</if>
            <if test="avatarUrl != null">avatar_url,</if>
            <if test="role != null">role,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doctorName != null">#{doctorName},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="password != null">#{password},</if>
            <if test="avatarUrl != null">#{avatarUrl},</if>
            <if test="role != null">#{role},</if>
         </trim>
    </insert>

    <update id="updateDoctor" parameterType="Doctor">
        update doctor
        <trim prefix="SET" suffixOverrides=",">
            <if test="doctorName != null">doctor_name = #{doctorName},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="password != null">password = #{password},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="role != null">role = #{role},</if>
        </trim>
        where doctor_id = #{doctorId}
    </update>

    <delete id="deleteDoctorByDoctorId" parameterType="Long">
        delete from doctor where doctor_id = #{doctorId}
    </delete>

    <delete id="deleteDoctorByDoctorIds" parameterType="String">
        delete from doctor where doctor_id in 
        <foreach item="doctorId" collection="array" open="(" separator="," close=")">
            #{doctorId}
        </foreach>
    </delete>
</mapper>