<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FollowUpMapper">
    
    <resultMap type="FollowUp" id="FollowUpResult">
        <result property="followUpId"    column="follow_up_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="date"    column="date"    />
        <result property="lastHealthEducation"    column="last_health_education"    />
        <result property="patientConclusion"    column="patient_conclusion"    />
        <result property="patientSymptom"    column="patient_symptom"    />
        <result property="patientPressure"    column="patient_pressure"    />
        <result property="patientSupport"    column="patient_support"    />
        <result property="clinicalTreatmentPlan"    column="clinical_treatment_plan"    />
        <result property="summary"    column="summary"    />
        <result property="currentPrimaryCareDiagnosis"    column="current_primary_care_diagnosis"    />
        <result property="healthIndicator"    column="health_indicator"    />
        <result property="newNursingGoal"    column="new_nursing_goal"    />
        <result property="guidance"    column="guidance"    />
        <result property="note"    column="note"    />
    </resultMap>

    <sql id="selectFollowUpVo">
        select follow_up_id, patient_id, patient_name, date, last_health_education, patient_conclusion, patient_symptom, patient_pressure, patient_support, clinical_treatment_plan, summary, current_primary_care_diagnosis, health_indicator, new_nursing_goal, guidance, note from follow_up
    </sql>

    <select id="selectFollowUpList" parameterType="FollowUp" resultMap="FollowUpResult">
        <include refid="selectFollowUpVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="lastHealthEducation != null  and lastHealthEducation != ''"> and last_health_education = #{lastHealthEducation}</if>
            <if test="patientConclusion != null  and patientConclusion != ''"> and patient_conclusion = #{patientConclusion}</if>
            <if test="patientSymptom != null  and patientSymptom != ''"> and patient_symptom = #{patientSymptom}</if>
            <if test="patientPressure != null  and patientPressure != ''"> and patient_pressure = #{patientPressure}</if>
            <if test="patientSupport != null  and patientSupport != ''"> and patient_support = #{patientSupport}</if>
            <if test="clinicalTreatmentPlan != null  and clinicalTreatmentPlan != ''"> and clinical_treatment_plan = #{clinicalTreatmentPlan}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="currentPrimaryCareDiagnosis != null  and currentPrimaryCareDiagnosis != ''"> and current_primary_care_diagnosis = #{currentPrimaryCareDiagnosis}</if>
            <if test="healthIndicator != null  and healthIndicator != ''"> and health_indicator = #{healthIndicator}</if>
            <if test="newNursingGoal != null  and newNursingGoal != ''"> and new_nursing_goal = #{newNursingGoal}</if>
            <if test="guidance != null  and guidance != ''"> and guidance = #{guidance}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
        </where>
        ORDER BY date DESC
    </select>
    
    <select id="selectFollowUpByFollowUpId" parameterType="Long" resultMap="FollowUpResult">
        <include refid="selectFollowUpVo"/>
        where follow_up_id = #{followUpId}
        ORDER BY date DESC
    </select>
        
    <insert id="insertFollowUp" parameterType="FollowUp" useGeneratedKeys="true" keyProperty="followUpId">
        insert into follow_up
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null">patient_name,</if>
            <if test="date != null">date,</if>
            <if test="lastHealthEducation != null">last_health_education,</if>
            <if test="patientConclusion != null">patient_conclusion,</if>
            <if test="patientSymptom != null">patient_symptom,</if>
            <if test="patientPressure != null">patient_pressure,</if>
            <if test="patientSupport != null">patient_support,</if>
            <if test="clinicalTreatmentPlan != null">clinical_treatment_plan,</if>
            <if test="summary != null">summary,</if>
            <if test="currentPrimaryCareDiagnosis != null">current_primary_care_diagnosis,</if>
            <if test="healthIndicator != null">health_indicator,</if>
            <if test="newNursingGoal != null">new_nursing_goal,</if>
            <if test="guidance != null">guidance,</if>
            <if test="note != null">note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null">#{patientName},</if>
            <if test="date != null">#{date},</if>
            <if test="lastHealthEducation != null">#{lastHealthEducation},</if>
            <if test="patientConclusion != null">#{patientConclusion},</if>
            <if test="patientSymptom != null">#{patientSymptom},</if>
            <if test="patientPressure != null">#{patientPressure},</if>
            <if test="patientSupport != null">#{patientSupport},</if>
            <if test="clinicalTreatmentPlan != null">#{clinicalTreatmentPlan},</if>
            <if test="summary != null">#{summary},</if>
            <if test="currentPrimaryCareDiagnosis != null">#{currentPrimaryCareDiagnosis},</if>
            <if test="healthIndicator != null">#{healthIndicator},</if>
            <if test="newNursingGoal != null">#{newNursingGoal},</if>
            <if test="guidance != null">#{guidance},</if>
            <if test="note != null">#{note},</if>
         </trim>
    </insert>

    <update id="updateFollowUp" parameterType="FollowUp">
        update follow_up
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="date != null">date = #{date},</if>
            <if test="lastHealthEducation != null">last_health_education = #{lastHealthEducation},</if>
            <if test="patientConclusion != null">patient_conclusion = #{patientConclusion},</if>
            <if test="patientSymptom != null">patient_symptom = #{patientSymptom},</if>
            <if test="patientPressure != null">patient_pressure = #{patientPressure},</if>
            <if test="patientSupport != null">patient_support = #{patientSupport},</if>
            <if test="clinicalTreatmentPlan != null">clinical_treatment_plan = #{clinicalTreatmentPlan},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="currentPrimaryCareDiagnosis != null">current_primary_care_diagnosis = #{currentPrimaryCareDiagnosis},</if>
            <if test="healthIndicator != null">health_indicator = #{healthIndicator},</if>
            <if test="newNursingGoal != null">new_nursing_goal = #{newNursingGoal},</if>
            <if test="guidance != null">guidance = #{guidance},</if>
            <if test="note != null">note = #{note},</if>
        </trim>
        where follow_up_id = #{followUpId}
    </update>

    <delete id="deleteFollowUpByFollowUpId" parameterType="Long">
        delete from follow_up where follow_up_id = #{followUpId}
    </delete>

    <delete id="deleteFollowUpByFollowUpIds" parameterType="String">
        delete from follow_up where follow_up_id in 
        <foreach item="followUpId" collection="array" open="(" separator="," close=")">
            #{followUpId}
        </foreach>
    </delete>
</mapper>