<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LivingMapper">
    
    <resultMap type="Living" id="LivingResult">
        <result property="livingId"    column="living_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="date"    column="date"    />
        <result property="neededChange"    column="needed_change"    />
        <result property="isImproved"    column="is_improved"    />
        <result property="feel"    column="feel"    />
        <result property="question"    column="question"    />
    </resultMap>

    <sql id="selectLivingVo">
        select living_id, patient_id, patient_name, date, needed_change, is_improved, feel, question from living
    </sql>

    <select id="selectLivingList" parameterType="Living" resultMap="LivingResult">
        <include refid="selectLivingVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="neededChange != null  and neededChange != ''"> and needed_change = #{neededChange}</if>
            <if test="isImproved != null "> and is_improved = #{isImproved}</if>
            <if test="feel != null  and feel != ''"> and feel = #{feel}</if>
            <if test="question != null  and question != ''"> and question = #{question}</if>
        </where>
        ORDER BY date DESC
    </select>

    <select id="searchByIdDate" parameterType="Living" resultMap="LivingResult">
        <include refid="selectLivingVo"/>
        <where>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="date != null "> and date = #{date}</if>
        </where>
        ORDER BY date DESC
    </select>
    
    <select id="selectLivingByLivingId" parameterType="Long" resultMap="LivingResult">
        <include refid="selectLivingVo"/>
        where living_id = #{livingId}
        ORDER BY date DESC
    </select>
        
    <insert id="insertLiving" parameterType="Living" useGeneratedKeys="true" keyProperty="livingId">
        insert into living
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null">patient_name,</if>
            <if test="date != null">date,</if>
            <if test="neededChange != null">needed_change,</if>
            <if test="isImproved != null">is_improved,</if>
            <if test="feel != null">feel,</if>
            <if test="question != null">question,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null">#{patientName},</if>
            <if test="date != null">#{date},</if>
            <if test="neededChange != null">#{neededChange},</if>
            <if test="isImproved != null">#{isImproved},</if>
            <if test="feel != null">#{feel},</if>
            <if test="question != null">#{question},</if>
         </trim>
    </insert>

    <update id="updateLiving" parameterType="Living">
        update living
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="date != null">date = #{date},</if>
            <if test="neededChange != null">needed_change = #{neededChange},</if>
            <if test="isImproved != null">is_improved = #{isImproved},</if>
            <if test="feel != null">feel = #{feel},</if>
            <if test="question != null">question = #{question},</if>
        </trim>
        where living_id = #{livingId}
    </update>

    <update id="updateIdDate" parameterType="Living">
        update living
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="neededChange != null">needed_change = #{neededChange},</if>
            <if test="isImproved != null">is_improved = #{isImproved},</if>
            <if test="feel != null">feel = #{feel},</if>
            <if test="question != null">question = #{question},</if>
        </trim>
        where patient_id = #{patientId} and date = #{date}
    </update>

    <delete id="deleteLivingByLivingId" parameterType="Long">
        delete from living where living_id = #{livingId}
    </delete>

    <delete id="deleteLivingByLivingIds" parameterType="String">
        delete from living where living_id in 
        <foreach item="livingId" collection="array" open="(" separator="," close=")">
            #{livingId}
        </foreach>
    </delete>
</mapper>