<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RecipeProcedureMapper">
    
    <resultMap type="RecipeProcedure" id="RecipeProcedureResult">
        <result property="recipeId"    column="recipe_id"    />
        <result property="pNum"    column="p_num"    />
        <result property="pImg"    column="p_img"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectRecipeProcedureVo">
        select recipe_id, p_num, p_img, content from recipe_procedure
    </sql>

    <select id="selectRecipeProcedureList" parameterType="RecipeProcedure" resultMap="RecipeProcedureResult">
        <include refid="selectRecipeProcedureVo"/>
        <where>  
            <if test="recipeId != null "> and recipe_id = #{recipeId}</if>
            <if test="pNum != null "> and p_num = #{pNum}</if>
            <if test="pImg != null  and pImg != ''"> and p_img = #{pImg}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectRecipeProcedureByRecipeId" parameterType="Long" resultMap="RecipeProcedureResult">
        <include refid="selectRecipeProcedureVo"/>
        where recipe_id = #{recipeId}
    </select>
        
    <insert id="insertRecipeProcedure" parameterType="RecipeProcedure">
        insert into recipe_procedure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recipeId != null">recipe_id,</if>
            <if test="pNum != null">p_num,</if>
            <if test="pImg != null">p_img,</if>
            <if test="content != null and content != ''">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recipeId != null">#{recipeId},</if>
            <if test="pNum != null">#{pNum},</if>
            <if test="pImg != null">#{pImg},</if>
            <if test="content != null and content != ''">#{content},</if>
         </trim>
    </insert>

    <update id="updateRecipeProcedure" parameterType="RecipeProcedure">
        update recipe_procedure
        <trim prefix="SET" suffixOverrides=",">
            <if test="pNum != null">p_num = #{pNum},</if>
            <if test="pImg != null">p_img = #{pImg},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </trim>
        where recipe_id = #{recipeId}
    </update>

    <delete id="deleteRecipeProcedureByRecipeId" parameterType="Long">
        delete from recipe_procedure where recipe_id = #{recipeId}
    </delete>

    <delete id="deleteRecipeProcedureByRecipeIds" parameterType="String">
        delete from recipe_procedure where recipe_id in 
        <foreach item="recipeId" collection="array" open="(" separator="," close=")">
            #{recipeId}
        </foreach>
    </delete>
</mapper>