# Requires: DFS_APP_ENV from common.env.example
DFS_STORAGE_PUBLIC_BASE_URL=http://127.0.0.1:8080
DFS_STORAGE_UPLOAD_DIR=./var/files/
DFS_STORAGE_PROFILE_DIR=./var/uploadPath
DFS_DB_MASTER_URL=jdbc:mysql://127.0.0.1:3306/suifang?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
DFS_DB_MASTER_USERNAME=change_me
DFS_DB_MASTER_PASSWORD=change_me
DFS_REDIS_HOST=127.0.0.1
DFS_REDIS_PORT=6379
DFS_REDIS_DATABASE=0
DFS_REDIS_PASSWORD=
DFS_AUTH_JWT_SECRET=replace-with-a-long-random-secret
DFS_DRUID_MONITOR_ALLOW=127.0.0.1
DFS_DRUID_MONITOR_USERNAME=change_me
DFS_DRUID_MONITOR_PASSWORD=change_me
DFS_SWAGGER_ENABLED=true
