<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BehaviorMapper">
    
    <resultMap type="Behavior" id="BehaviorResult">
        <result property="behaviorId"    column="behavior_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="date"    column="date"    />
        <result property="frequency"    column="frequency"    />
        <result property="strength"    column="strength"    />
        <result property="duration"    column="duration"    />
        <result property="type"    column="type"    />
        <result property="feel"    column="feel"    />
        <result property="replay"    column="replay"    />
        <result property="question"    column="question"    />
    </resultMap>

    <resultMap type="java.lang.Integer" id="count">
        <result property="*"    column="*"    />
    </resultMap>

    <sql id="selectBehaviorVo">
        select behavior_id, patient_id, patient_name, date, frequency, strength, duration, type, feel, replay, question from behavior
    </sql>

<!--    <select id="searchByIdDate" parameterType="Behavior" resultMap="BehaviorResult">-->
<!--        <include refid="selectBehaviorVo"/>-->
<!--&#45;&#45;         select count(*) from behavior-->
<!--        where patient_id = #{patientId} and date = #{date}-->
<!--    </select>-->

    <select id="searchByIdDate" parameterType="Behavior" resultMap="BehaviorResult">
        <include refid="selectBehaviorVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="date != null "> and date = #{date}</if>
        </where>
        ORDER BY date DESC
    </select>

    <select id="selectBehaviorList" parameterType="Behavior" resultMap="BehaviorResult">
        <include refid="selectBehaviorVo"/>
        <where>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="frequency != null "> and frequency = #{frequency}</if>
            <if test="strength != null "> and strength = #{strength}</if>
            <if test="duration != null "> and duration = #{duration}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="feel != null  and feel != ''"> and feel = #{feel}</if>
            <if test="replay != null  and replay != ''"> and replay = #{replay}</if>
            <if test="question != null  and question != ''"> and question = #{question}</if>
        </where>
        ORDER BY date DESC
    </select>

    <select id="selectBehaviorByBehaviorId" parameterType="Long" resultMap="BehaviorResult">
        <include refid="selectBehaviorVo"/>
        where behavior_id = #{behaviorId}
        ORDER BY date DESC
    </select>
        
    <insert id="insertBehavior" parameterType="Behavior" useGeneratedKeys="true" keyProperty="behaviorId">
        insert into behavior
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null">patient_name,</if>
            <if test="date != null">date,</if>
            <if test="frequency != null">frequency,</if>
            <if test="strength != null">strength,</if>
            <if test="duration != null">duration,</if>
            <if test="type != null">type,</if>
            <if test="feel != null">feel,</if>
            <if test="replay != null">replay,</if>
            <if test="question != null">question,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null">#{patientName},</if>
            <if test="date != null">#{date},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="strength != null">#{strength},</if>
            <if test="duration != null">#{duration},</if>
            <if test="type != null">#{type},</if>
            <if test="feel != null">#{feel},</if>
            <if test="replay != null">#{replay},</if>
            <if test="question != null">#{question},</if>
         </trim>
    </insert>

    <update id="updateBehavior" parameterType="Behavior">
        update behavior
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="date != null">date = #{date},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="strength != null">strength = #{strength},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="type != null">type = #{type},</if>
            <if test="feel != null">feel = #{feel},</if>
            <if test="replay != null">replay = #{replay},</if>
            <if test="question != null">question = #{question},</if>
        </trim>
        where behavior_id = #{behaviorId}
    </update>

    <update id="updateIdDate" parameterType="Behavior">
        update behavior
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="strength != null">strength = #{strength},</if>
            <if test="duration != null">duration = #{duration},</if>
            <if test="type != null">type = #{type},</if>
            <if test="feel != null">feel = #{feel},</if>
            <if test="replay != null">replay = #{replay},</if>
            <if test="question != null">question = #{question},</if>
        </trim>
        where patient_id = #{patientId} and date = #{date}
    </update>

    <delete id="deleteBehaviorByBehaviorId" parameterType="Long">
        delete from behavior where behavior_id = #{behaviorId}
    </delete>

    <delete id="deleteBehaviorByBehaviorIds" parameterType="String">
        delete from behavior where behavior_id in 
        <foreach item="behaviorId" collection="array" open="(" separator="," close=")">
            #{behaviorId}
        </foreach>
    </delete>
</mapper>