<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MedicineMapper">
    
    <resultMap type="Medicine" id="MedicineResult">
        <result property="medicineId"    column="medicine_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="date"    column="date"    />
        <result property="flag"    column="flag"    />
        <result property="symptom"    column="symptom"    />
        <result property="replay"    column="replay"    />
        <result property="question"    column="question"    />
    </resultMap>

    <sql id="selectMedicineVo">
        select medicine_id, patient_id, patient_name, date, flag, symptom, replay, question from medicine
    </sql>

    <select id="searchByIdDate" parameterType="Medicine" resultMap="MedicineResult">
        <include refid="selectMedicineVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="date != null "> and date = #{date}</if>
        </where>
        ORDER BY date DESC
    </select>

    <select id="selectMedicineList" parameterType="Medicine" resultMap="MedicineResult">
        <include refid="selectMedicineVo"/>
        <where>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="flag != null "> and flag = #{flag}</if>
            <if test="symptom != null "> and symptom = #{symptom}</if>
            <if test="replay != null  and replay != ''"> and replay = #{replay}</if>
            <if test="question != null  and question != ''"> and question = #{question}</if>
        </where>
        ORDER BY date DESC
    </select>
    
    <select id="selectMedicineByMedicineId" parameterType="Long" resultMap="MedicineResult">
        <include refid="selectMedicineVo"/>
        where medicine_id = #{medicineId}
        ORDER BY date DESC
    </select>
        
    <insert id="insertMedicine" parameterType="Medicine" useGeneratedKeys="true" keyProperty="medicineId">
        insert into medicine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null">patient_name,</if>
            <if test="date != null">date,</if>
            <if test="flag != null">flag,</if>
            <if test="symptom != null">symptom,</if>
            <if test="replay != null">replay,</if>
            <if test="question != null">question,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null">#{patientName},</if>
            <if test="date != null">#{date},</if>
            <if test="flag != null">#{flag},</if>
            <if test="symptom != null">#{symptom},</if>
            <if test="replay != null">#{replay},</if>
            <if test="question != null">#{question},</if>
         </trim>
    </insert>

    <update id="updateMedicine" parameterType="Medicine">
        update medicine
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="date != null">date = #{date},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="symptom != null">symptom = #{symptom},</if>
            <if test="replay != null">replay = #{replay},</if>
            <if test="question != null">question = #{question},</if>
        </trim>
        where medicine_id = #{medicineId}
    </update>

    <update id="updateIdDate" parameterType="Medicine">
        update medicine
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="symptom != null">symptom = #{symptom},</if>
            <if test="replay != null">replay = #{replay},</if>
            <if test="question != null">question = #{question},</if>
        </trim>
        where patient_id = #{patientId} and date = #{date}
    </update>

    <delete id="deleteMedicineByMedicineId" parameterType="Long">
        delete from medicine where medicine_id = #{medicineId}
    </delete>

    <delete id="deleteMedicineByMedicineIds" parameterType="String">
        delete from medicine where medicine_id in 
        <foreach item="medicineId" collection="array" open="(" separator="," close=")">
            #{medicineId}
        </foreach>
    </delete>
</mapper>