<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RecipeIngredientMapper">
    
    <resultMap type="RecipeIngredient" id="RecipeIngredientResult">
        <result property="recipeId"    column="recipe_id"    />
        <result property="ingredientName"    column="ingredient_name"    />
        <result property="amount"    column="amount"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectRecipeIngredientVo">
        select recipe_id, ingredient_name, amount, type from recipe_ingredient
    </sql>

    <select id="selectRecipeIngredientList" parameterType="RecipeIngredient" resultMap="RecipeIngredientResult">
        <include refid="selectRecipeIngredientVo"/>
        <where>  
            <if test="recipeId != null "> and recipe_id = #{recipeId}</if>
            <if test="ingredientName != null  and ingredientName != ''"> and ingredient_name like concat('%', #{ingredientName}, '%')</if>
            <if test="amount != null  and amount != ''"> and amount = #{amount}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectRecipeIngredientByRecipeId" parameterType="Long" resultMap="RecipeIngredientResult">
        <include refid="selectRecipeIngredientVo"/>
        where recipe_id = #{recipeId}
    </select>
        
    <insert id="insertRecipeIngredient" parameterType="RecipeIngredient">
        insert into recipe_ingredient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recipeId != null">recipe_id,</if>
            <if test="ingredientName != null and ingredientName != ''">ingredient_name,</if>
            <if test="amount != null and amount != ''">amount,</if>
            <if test="type != null and type != ''">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recipeId != null">#{recipeId},</if>
            <if test="ingredientName != null and ingredientName != ''">#{ingredientName},</if>
            <if test="amount != null and amount != ''">#{amount},</if>
            <if test="type != null and type != ''">#{type},</if>
         </trim>
    </insert>

    <update id="updateRecipeIngredient" parameterType="RecipeIngredient">
        update recipe_ingredient
        <trim prefix="SET" suffixOverrides=",">
            <if test="ingredientName != null and ingredientName != ''">ingredient_name = #{ingredientName},</if>
            <if test="amount != null and amount != ''">amount = #{amount},</if>
            <if test="type != null and type != ''">type = #{type},</if>
        </trim>
        where recipe_id = #{recipeId}
    </update>

    <delete id="deleteRecipeIngredientByRecipeId" parameterType="Long">
        delete from recipe_ingredient where recipe_id = #{recipeId}
    </delete>

    <delete id="deleteRecipeIngredientByRecipeIds" parameterType="String">
        delete from recipe_ingredient where recipe_id in 
        <foreach item="recipeId" collection="array" open="(" separator="," close=")">
            #{recipeId}
        </foreach>
    </delete>
</mapper>