<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ScienceChatMapper">

    <resultMap type="ScienceChat" id="ChatResult">
        <result property="id"    column="id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="content"    column="content"    />
        <result property="time"    column="time"    />
        <result property="direction"    column="direction"    />
    </resultMap>

    <sql id="selectChatVo">
        select id, patient_id, patient_name, content, time, direction
        from science_chat
    </sql>

    <select id="selectChatList" parameterType="ScienceChat" resultMap="ChatResult">
        <include refid="selectChatVo"/>
        <where>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="patientName != null  and patientName != ''"> and patient_name like concat('%', #{patientName}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="direction != null "> and direction = #{direction}</if>
        </where>
        ORDER BY time
    </select>

    <select id="selectChatById" parameterType="Long" resultMap="ChatResult">
        <include refid="selectChatVo"/>
        where id = #{id}
        ORDER BY time
    </select>

    <insert id="insertChat" parameterType="ScienceChat" useGeneratedKeys="true" keyProperty="id">
        insert into science_chat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null">patient_name,</if>
            <if test="content != null">content,</if>
            <!--            <if test="time != null">time,</if>-->
            <if test="direction != null">direction,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null">#{patientName},</if>
            <if test="content != null">#{content},</if>
            <!--            <if test="time != null">#{time},</if>-->
            <if test="direction != null">#{direction},</if>
        </trim>
    </insert>

    <update id="updateChat" parameterType="ScienceChat">
        update science_chat
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="content != null">content = #{content},</if>
            <if test="time != null">time = #{time},</if>
            <if test="direction != null">direction = #{direction},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChatById" parameterType="Long">
        delete from science_chat where id = #{id}
    </delete>

    <delete id="deleteChatByIds" parameterType="String">
        delete from science_chat where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>